{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}
jellyfin.aut.zachneill.com {
  reverse_proxy jellyfin:8096 {
    header_up Host {host}
    header_up X-Forwarded-Proto https
  }
}
nextcloud.aut.zachneill.com {
  reverse_proxy nextcloud:80
}
filebrowser.aut.zachneill.com {
  reverse_proxy filebrowser:80 {
    header_up Host {host}
    header_up X-Forwarded-Proto https
  }
}